.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  padding-top: 19px;
  color: #777;
  /*border-top: 1px solid #e5e5e5;*/
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
	
  .dropdown:hover .dropdown-menu {
	display: block;
  }
}

.navbar-brand {
	font-size: 16px;
    /*font-weight: bold;*/
}

.dropdown-menu .dropdown-header {
    /*font-weight: bold;*/
	/*font-variant: small-caps;*/
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
}

.caption p {
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 5px #000;
	font-size: 30px;
	text-align: center;
	font-variant: small-caps;
}

body {
	padding-top: 150px;
	padding-bottom: 100px;
}

.gallery-caption {
	top: 15%;
	
}

.gallery-caption-title {
	font-style: italic;
}

.gallery-caption-title .gallery-caption-year {
	font-size: 50%;
}

.gallery-caption .gallery-caption-aff {
	font-size: 100%;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: none !important;
  display: inline-block;

}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
/*  	display: inline-block;*/
	text-align: center;
}

.navbar .navbar-nav li a {
	display: block;
}

.navbar .navbar-nav li{
	width: 110px;
}

.navbar .navbar-nav > .active{
	background: #000;
}

.navbar .navbar-nav li a i{
	display: block;
}

.media-list .media-left a img {
	height: 75px;
}

.media-list .media .media-body{
	vertical-align: bottom;
}

.media-list .media .media-body .timestamp{
	text-align: right;
}

.form-inline {
	display: inline;
	align-items: center;
}

.form-inline div select {
	display: inline;
	max-width: 150px;
	float: none;
}

.form-inline div select option {
	align-content: center;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
	float:none;
	font-variant-caps: small-caps;
	font-size: 2em;
}

#myModalLabel {
	text-align: center;
}

.modal-body form {
	align-content: center;
	text-align: center;
}

.modal-body form .form-group input {
	align-content: center;
	text-align: center;
}

.welcomeForm {
	text-align: center;
	
}

.welcomeForm .form-group input {
	text-align: center;
}

.fade {
    transition: all linear 300ms;
    opacity: 1;
}

.fade.ng-hide {
    opacity: 0;
}