<div modal="myModal" id="myModalNorm" tabindex="-1" role="dialog" 
				 aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">
								Welcome to MessageCraft! 
								What is your name?
							</h4>
						</div>

						<!-- Modal Body -->
						<div class="modal-body">

							<form role="form"  ng-submit="submit()">
							  <div class="form-group">
								  <input type="text" class="form-control"
								   placeholder="Enter your name" ng-model="name"/>
							  </div>

							  <input type="submit" role="button" class="btn btn-primary"></button>
							</form>


						</div>

					</div>
				</div>
			</div>