<header class="jumbotron">
  <h1>Hello and Welcome!</h1>
  <p class="lead">
	<img src="images/thumbnail.jpg" class="img-circle" alt="I'm Brent"><br><br>
	I'm Brent and I make games!
  </p>
</header>

<div class="row marketing">
    <p align=center>This site is a work in progress. Please come back when it's ready!</p>
</div>

<!-- Gallery view for all projects -->
<div class="container-fluid">
	<div class="row row-content">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a ui-sref="app.stage" class="thumbnail">
				<img class="img-responsive" src="images/stage/1.jpg" alt="Stage">
				<div class="caption">
					<p>Stage</p>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a ui-sref="app.pacific-armada" class="thumbnail">
				<img class="img-responsive" src="images/pacific-armada/1.jpg" alt="Pacific Armada">
				<div class="caption">
					<p>Pacific Armada</p>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a ui-sref="pacific-armada-redux" class="thumbnail">
				<img class="img-responsive" src="images/stage/3.jpg" alt="Stage">
				<div class="caption">
					<p>Pacific Armada Redux</p>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a ui-sref="app.models" class="thumbnail">
				<img class="img-responsive" src="images/models/02_Sword.jpg" alt="Modeling">
				<div class="caption">
					<p>Modeling</p>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a ui-sref="app.anim" class="thumbnail">
				<div style='position:relative;padding-bottom:59%'><iframe src='https://gfycat.com/ifr/DecimalBoringIrishsetter' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
				<div class="caption">
					<p>Animation</p>
				</div>
			</a>
		</div>
	</div>
</div>
